#
# Node exchange DI configuration
#
# @license		More in license.md
# @copyright	https://fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:NodeExchange!
# @subpackage	config
# @since		0.1.0
#
# @date			19.07.20

php:
	date.timezone: Europe/Prague

extensions:
	fbDateTimeFactory	: FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension

nodeExchange:
	origin: com.fastybird.test
	rabbitMQ:
		queue:
			name: testingQueueName
