#
# Rabbit MQ plugin DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:RabbitMqPlugin!
# @subpackage	config
# @since		0.1.0
#
# @date			19.07.20

php:
	date.timezone: Europe/Prague

extensions:
	fbDateTimeFactory	: FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension

fbRabbitMqPlugin:
	origin: com.fastybird.plugin
	rabbitMQ:
		queue:
			name: testingQueueName
